.header {
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header__image {
    margin: 0px;
    padding-bottom: 41px;
    width: 173px;
    height: 33px;
}

@media screen and (max-width:880px) {
    .header__image {
    padding-left: 25px;
    padding-bottom: 35px;
   }
}

@media screen and (max-width:480px) {
    .header {
        margin-top: 28px;
    }

    .header__image {
        width: 126px;
        height: 24px;
        margin-left: 27px;
        padding-bottom: 32px;
        padding-left: 0;
    } 
}